* {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}
.header, .first, .footer {
    background-color: #1F2937;
}

.header {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
}
.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}